<p style="color: green"><%= notice %></p>

<%= render @fauna %>

<div>
  <%= link_to "Edit this fauna", edit_fauna_path(@fauna) %> |
  <%= link_to "Back to faunas", faunas_path %>

  <%= button_to "Destroy this fauna", @fauna, method: :delete %>
</div>
