<header class="main-content__header">
  <h1 class="main-content__page-title">Publishing</h1>
  <%= button_to "Publish", publish_admin_publishing_index_path %>
</header>

<section class="main-content__body main-content__body--flush">
  <table aria-labelledby="page-title">
    <thead>
      <tr>
        <th class="cell-label cell-label--string">
          Model
        </th>
        <th class="cell-label cell-label--number">
          Records
        </th>
      </tr>
    </thead>
    <tbody>
      <% @models.each do |model| %>
        <tr class="js-table-row" tabindex="0" role="link" data-url="<%= model[:link] %>">
          <td class="cell-data cell-data--string">
            <a href="<%= model[:link] %>" tabindex="-1" class="action-show"><%= model[:name] %></a>
          </td>
          <td class="cell-data cell-data--number">
            <a href="<%= model[:link] %>" tabindex="-1" class="action-show"><%= model[:count] %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
