<header class="main-content__header">
  <h1 class="main-content__page-title">Admin Dashboard</h1>
</header>

<section class="main-content__body main-content__body--flush">
  <table aria-labelledby="page-title">
    <thead>
      <tr>
        <th class="cell-label cell-label--string">
          Model
        </th>
        <th class="cell-label cell-label--number">
          Records
        </th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |record_stats| %>
        <tr class="js-table-row" tabindex="0" role="link" data-url="<%= record_stats[:link] %>">
          <td class="cell-data cell-data--string">
            <a href="<%= record_stats[:link] %>" tabindex="-1" class="action-show"><%= record_stats[:name] %></a>
          </td>
          <td class="cell-data cell-data--number">
            <a href="<%= record_stats[:link] %>" tabindex="-1" class="action-show"><%= record_stats[:count] %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
